*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.align-top{
    height: 2rem!important;
    width: 5rem!important;
}
.sof-dev{
    font-size: 1.5rem;
}

.title-info{
    width: 50%;
}
.center-div{
    display: flex;
    justify-content: center;
}
.school-nav, .school-nav2{
    justify-content: center;
    display: flex;
    
}
.school-nav li, .school-nav2 li {
    list-style: none;
    display: inline;
}
.search-bar{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.search {
    display: inline-block;
    width: 30%;
    border-radius: 3px;
    padding: 4px 55px 4px 15px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .search.hovered, .search:hover, .search:active {
    border: 1px solid #aaa;
  }
  .search input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;
  }
  .search input[type=text]:hover, .search input[type=text]:focus, .search input[type=text]:active {
    box-shadow: none;
  }
  .fa-search{
      transition: all 200ms ease;
  }
  .fa-search:hover{
      color: rgb(140, 140, 140)!important;
  }
.info{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(255, 255, 255)!important;
    width: 40rem!important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 25rem;
}
.card-total{
    padding-bottom: 3rem;
}
div.card{
    color:rgb(50, 50, 50)
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
.school-welcome, .school-mission{
    font-size: .9rem;
}
.school-name{
    font-size:2rem;
}
.school-values{
    font-size: .9rem;
}
  
.school-welcome, .school-mission, .school-name, .school-values{
    padding-left: 2rem;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }

  .footer-info{
      margin-top: 5rem!important;
      margin-bottom: 2rem!important;
  }
  .translate{
      padding-bottom: 2rem!important;
  }